<!DOCTYPE html>
<meta charset="UTF-8">
<html>
	{% extends "base.html" %}
	{% block content %}
	{% if session['logged_in'] %}
		<p>또 가입하시게요?</p>
	{% else %}
	<center><div>
		<h2>Register</h2>
		<form action="/register/" method="POST">
		  <input type="username" name="username" placeholder="이름을 입력해주세요"><br>
		  <input type="password" name="password" placeholder="비밀번호를 입력해주세요"><br>
		  <input type="email" name="email" placeholder="email@naver.com"><br>
		  <input type="age" name="age" placeholder="나이를 입력해주세요"><br>
		  <label>성별 :</label><select name="sex" class="selectpicker form-control">
                        <option value="남">남</option>
                        <option value="여">여</option>
                    </select>
		  <label>활동량 :</label><select name="act" class="selectpicker form-control">
                        <option value="많음">많음</option>
                        <option value="보통">보통</option>
                        <option value="적음">보통</option>
                    </select>
            <br><br>
		  <input type="submit" value="회원가입">
		</form>
	</div></center>
	{% endif %}
	{% endblock %}
</html>